target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
Browser_OS compatibility.xls
Omniture_Monthly_Report_All_Banners.iml
omnitureReport.iml
pom.xml
src/
